*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: greenyellow;
}

.content-cabezera{
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

.content-logo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    margin: auto;
}

.content-logo img{
    width: 100%;
    height: 100%;
}

.content-cabezera h1{
    font-weight: 100;
    color: black;
    margin-top: 20px;
}

.content-cabezera p{
    margin-top: 40px;
    color: black;
}

/*Content-1*/

.content1{
    width: 100%;
}

.img-content1{
    width: 100%;
    text-align: center;
}

.img-content1 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.text-content1 h1{
    margin-top: 40px;
    font-weight: 100;
    text-align: center;
}

.text-content1 hr{
    width: 100px;
    height: 4px;
    margin: auto;
    margin-top: 20px;
    border-style: solid;
    background: -webkit-linear-gradient(left, black, right, white);
}

.text-content1 p{
    margin-top: 40px;
    color: #636363;
    letter-spacing: 1px;
    text-align: center;
}

.button-leer{
    padding: 16px;
    width: 200px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    cursor: pointer;
}

/*Content2*/

.content2{
    width: 100%;
    text-align: center;
}

.content2 h1{
    font-weight: 100;
    margin-top: 20px;
}

.content2 hr{
    width: 100px;
    height: 7px;
    margin: auto;
    border-style: solid;
    background: -webkit-linear-gradient(left, white, black);
}

.content-details{
    width: 100%;
    text-align: center;
}

.item-details{
    width: 400px;
    margin: auto;
    text-align: center;
}

.icon-details{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
}

.content-details h4{
    font-weight: 100;
    font-size: 18px;
    margin-top: 40px;
}

.content-details p{
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: 1px;
    color: black;
}